<div class="md:ml-64 h-auto pt-20">
    <div class="border-b">
    <ul class="flex flex-wrap justify-center -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-purple-600 bg-indigo-50 hover:text-purple-600 border-purple-600" data-tabs-inactive-classes="border-transparent text-gray-500 hover:text-gray-600 border-gray-100 hover:border-gray-300" role="tablist">
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:bg-gray-50 hover:text-gray-600 hover:border-gray-300 text-sm" id="profile-styled-tab" data-tabs-target="#styled-add" type="button" role="tab" aria-controls="profile" aria-selected="false">Agregar estudiantes</button>
        </li>
        <li class="me-2" role="presentation">
            <button class="inline-block p-4 border-b-2 rounded-t-lg hover:bg-gray-50 hover:text-gray-600 hover:border-gray-300 text-sm" id="dashboard-styled-tab" data-tabs-target="#styled-list" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Lista de estudiantes</button>
        </li>
    </ul>
    </div>
    <div id="default-styled-tab-content">
    <div class="hidden" id="styled-add" role="tabpanel" aria-labelledby="add-tab">
        <app-student-form></app-student-form>
        <app-file-upload></app-file-upload>
    </div>
    <div class="hidden" id="styled-list" role="tabpanel" aria-labelledby="list-tab">
        <app-student-list></app-student-list>
    </div>
    </div>
</div>
