<div class="px-4 mx-auto max-w-3xl py-8">
  <h2 class="mb-4 text-xl font-bold text-gray-900">Selecciona un grado y sección para buscar</h2>
  <form class="flex justify-between items-center max-w- mx-auto mt-4" [formGroup]="formGroup">
    <div>
      <label for="education_level" class="block mb-2 text-sm font-medium text-gray-900">Nivel de Educación</label>
      <select formControlName="education_level" id="education_level"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
        (change)="educationLevelValid = !formGroup.controls.education_level.valid" (change)="onEducationLevelChange()">
        <option value="" disabled selected>Selecciona una nivel</option>
        @for (educationLevel of educationLevels; track educationLevel.id) {
        <option [value]="educationLevel.name">{{ educationLevel.name }}</option>
        }
      </select>
      @if(educationLevelValid){
      <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Seleccione una sección!</p>
      }
    </div>
    @if (grades.length > 0){
    <div class="w-24">
      <label for="grade" class="block mb-2 text-sm font-medium text-gray-900">Grado</label>
      <select formControlName="grade" id="grade"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
        (change)="gradeValid = !formGroup.controls.grade.valid">
        <option value="" disabled selected>Selecciona un grado</option>
        @for (grade of grades; track grade.id) {
        <option [value]="grade.name">{{ grade.name }}</option>
        }
      </select>
      @if(gradeValid){
      <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Seleccione un grado!</p>
      }
    </div>
    }
    @if(sections.length > 0){
    <div class="w-24">
      <label for="section" class="block mb-2 text-sm font-medium text-gray-900">Sección</label>
      <select formControlName="section" id="section"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
        (change)="sectionValid = !formGroup.controls.section.valid">
        <option value="" disabled selected>Selecciona una sección</option>
        @for (section of sections; track section.id) {
        <option [value]="section.name">{{ section.name }}</option>
        }
      </select>
      @if(sectionValid){
      <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Seleccione una sección!</p>
      }
    </div>
    }
    <div class="w-20">
      @if(this.formGroup.valid){
      <button
        (click)="loadStudentsByEducationLevelAndGradeAndSection(this.formGroup.controls.education_level.value,this.formGroup.controls.grade.value,this.formGroup.controls.section.value)"
        type="submit"
        class="mt-6 w-full py-2.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center">Buscar</button>
      }@else {
      <button type="button"
        class="mt-6 w-full py-2.5 text-base font-medium text-white bg-blue-400 cursor-not-allowed focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center"
        disabled>Buscar</button>
      }
    </div>
  </form>
</div>


<div class="relative overflow-x-auto max-w-3xl mx-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3 border border-gray-300">
          Apellido
        </th>
        <th scope="col" class="px-6 py-3 border border-gray-300">
          Nombre
        </th>
        <th scope="col" class="px-6 py-3 text-center border border-gray-300">
          DNI
        </th>
        <th scope="col" class="px-1 py-3 text-center border border-gray-300">
          Nivel de Educación
        </th>
        <th scope="col" class="px-1 py-3 text-center border border-gray-300">
          Grado
        </th>
        <th scope="col" class="px-1 py-3 text-center border border-gray-300">
          Sección
        </th>
        <th scope="col" class="px-6 py-3 text-center border border-gray-300">
          QR
        </th>
        <th scope="col" class="px-6 py-3 text-center border border-gray-300">
          Plantilla
        </th>
      </tr>
    </thead>
    <tbody>
      @for (student of studentList; track student.id) {
      <tr class="bg-white border-b">
        <td class="px-6 py-4 text-base">
          {{student.surname}}
        </td>
        <td class="px-6 py-4 text-base">
          {{student.name}}
        </td>
        <td class="px-6 py-4 text-center text-base">
          {{student.dni}}
        </td>
        <td class="px-3 py-4 text-center text-base">
          {{student.educationLevel.name}}
        </td>
        <td class="px-3 py-4 text-center text-base">
          {{student.grade.name}}
        </td>
        <td class="px-3 py-4 text-center text-base">
          {{student.section.name}}
        </td>
        <td class="text-center">
          <button (click)="downloadQR(student.id)">
            <div style="width: 64px">
              <qrcode [qrdata]="student.id" [width]="512" id="qr-{{student.id}}"></qrcode>
            </div>
          </button>
        </td>
        <td class="text-center">
          <button (click)="generatePDF(student.id)">Descargar</button>
          <div class="border-blue-500 border-8 rounded-2xl p-3 pb-7 overflow-hidden w-96" id="studentCarnet-{{student.id}}" style="position: absolute; top: -999px;">
            <qrcode [qrdata]="student.id" [width]="256"></qrcode>
            <p class="w-full text-3xl mb-3 text-black">{{student.name}} {{student.surname}}</p>
            <p class="mb-3 w-full text-3xl text-black">{{student.educationLevel.name}}</p>
            <p class="w-full text-3xl text-black">{{student.grade.name}} "{{student.section.name}}"</p>
          </div>
        </td>
      </tr>
      } @empty {
      <!-- <tr class="bg-white border-b">
              <td class="px-6 py-4">
                ----
              </td>
              <td class="px-6 py-4">
                ----
              </td>
              <td class="px-6 py-4">
                ----
              </td>
              <td class="px-3 py-4">
                ----
              </td>
              <td class="px-3 py-4">
                ----
              </td>
            </tr> -->
      }
    </tbody>
  </table>
</div>
@if (isLoadingTable){
<div class="flex items-center justify-center mx-auto">
  <div class="px-3 py-1">
    <svg aria-hidden="true" class="w-16 h-16 text-gray-200 animate-spin fill-blue-600" viewBox="0 0 100 101" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
        fill="currentColor" />
      <path
        d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
        fill="currentFill" />
    </svg>
  </div>
</div>
}
