

<div class="relative overflow-x-auto">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
              <th scope="col" class="px-6 py-3">
                  Nombre
              </th>
              <th scope="col" class="px-6 py-3">
                  Apellido
              </th>
              <th scope="col" class="px-3 py-3">
                  Grado
              </th>
              <th scope="col" class="px-3 py-3">
                  Sección
              </th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let student of studentList" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <td class="px-6 py-4">
                  {{student.name}}
              </td>
              <td class="px-6 py-4">
                {{student.surname}}
              </td>
              <td class="px-3 py-4">
                {{student.grade}}
              </td>
              <td class="px-3 py-4">
                {{student.section}}
              </td>
          </tr>
      </tbody>
  </table>
</div>
