<div
  class="min-w-screen min-h-screen bg-slate-200 flex justify-center items-center"
><!--flex justify-center items-center-->
  <div class="overflow-hidden md:first-letter:mx-14 md:rounded-3xl md:shadow-xl">
    <!--DOS COLUMNAS-->
    <div
      class="flex min-h-screen md-onecolumn md:grid md:grid-cols-2"
    ><!--grid grid-cols-1-->
      <!--PRIMERA COLUMNA-->
      <div class="bg-white p-9 hidden md:block">
        <div
          class="bg-gradient-to-br from-sky-800 to-sky-200 rounded-3xl px-16 py-10"
          style="max-width: 28rem; max-height: 45rem"
        >
          <div class="flex flex-col items-center justify-center text-left">
            <h1 class="text-white font-semibold text-4xl font-sans mb-5">
              Bienvenido al portal educativo del colegio.
            </h1>
            <p class="text-white mb-5 text-sm">
              Explora nuestro portal educativo para acceder a recursos,
              comunicación escolar eficiente y apoyo académico.
            </p>
            <img
              src="../../../../assets/img/escolar-login.webp"
              alt="img login"
              class="w-72 mb-0"
            />
          </div>
        </div>
      </div><!--PRIMERA COLUMNA-->
      <!--SEGUNDA COLUMNA-->
      <div class="flex flex-col justify-center items-center w-screen md:w-auto bg-white p-10">
        <div
          class="flex items-center justify-center gap-x-4 font-bold text-2xl mb-5"
        >
          <img
            src="../../../../favicon.ico"
            alt="icono colegio"
            class="max-w-12"
          />
          <h1 class="tracking-tight">Getsemaní</h1>
        </div>
        <div class="text-center">
          <h2 class="text-gray-800 font-bold text-4xl mb-1">Welcome Back</h2>
          <p class="text-sm font-normal text-gray-400 mb-7">
            Please login to your account
          </p>
        </div>
        <form class="bg-white w-80 sm:w-96 md:w-80 lg:w-96">
          <div class="space-y-2">

            <input
              class="w-full text-base px-4 py-3 border shadow-md border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
              type="number"
              placeholder="Ingresa tu DNI"
            />
          </div>
          <div class="space-y-2 my-5">

            <input
              class="w-full content-center text-base px-4 py-3 border shadow-md border-gray-300 rounded-lg focus:outline-none focus:border-green-400"
              type="password"
              placeholder="Ingresa tu contraseña"
            />
          </div>
          <button
            type="submit"
            class="block w-full bg-sky-600 mt-4 py-3 rounded-2xl text-white font-semibold mb-2"
          >
            Iniciar Sesión
          </button>
          <span
            class="text-sm ml-2 hover:text-blue-500 cursor-pointer flex justify-end text-gray-400"
            >Forgot Password ?</span
          >
        </form>
      </div><!--SEGUNDA COLUMNA-->
    </div>
  </div>
</div>
