
<section class="border-b">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900">Agregar un estudiante</h2>
      <form [formGroup]="formGroup">
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              <div>
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                  <input formControlName="name" type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Pepito" (input)="nameValid = !formGroup.controls.name.valid">
                  @if(nameValid){
                    <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Ingrese un nombre!</p>
                  }
              </div>
              <div>
                  <label for="surname" class="block mb-2 text-sm font-medium text-gray-900">Apellido</label>
                  <input formControlName="surname" type="text" id="surname" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="Quispe" (input)="surnameValid = !formGroup.controls.surname.valid">
                  @if(surnameValid){
                    <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Ingrese un apellido!</p>
                  }
              </div>
              <div>
                  <label for="dni" class="block mb-2 text-sm font-medium text-gray-900">DNI</label>
                  <input min="10000000" max="99999999" formControlName="dni" type="number" id="dni" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5" placeholder="12345678" (input)="dniValid = !formGroup.controls.dni.valid">
                  @if(dniValid){
                    <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Ingrese un DNI! (8 digitos.)</p>
                  }
              </div>
              <div>
                <label for="education_level" class="block mb-2 text-sm font-medium text-gray-900">Nivel de Educación</label>
                <select formControlName="education_level" id="education_level" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" (change)="educationLevelValid = !formGroup.controls.education_level.valid" (change)="onEducationLevelChange()">
                    <option value="" disabled selected>Selecciona una nivel</option>
                    @for (educationLevel of educationLevels; track educationLevel.id) {
                      <option [value]="educationLevel.id">{{ educationLevel.name }}</option>
                    }
                </select>
                @if(educationLevelValid){
                  <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Seleccione una sección!</p>
                }
              </div>
              @if (grades.length > 0){
                <div>
                  <label for="grade" class="block mb-2 text-sm font-medium text-gray-900">Grado</label>
                  <select formControlName="grade" id="grade" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" (change)="gradeValid = !formGroup.controls.grade.valid">
                      <option value="" disabled selected>Selecciona un grado</option>
                      @for (grade of grades; track grade.id) {
                        <option [value]="grade.id">{{ grade.name }}</option>
                      }
                  </select>
                  @if(gradeValid){
                    <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Seleccione un grado!</p>
                  }
              </div>
              }
              @if(sections.length > 0){
                <div>
                  <label for="section" class="block mb-2 text-sm font-medium text-gray-900">Sección</label>
                  <select formControlName="section" id="section" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5" (change)="sectionValid = !formGroup.controls.section.valid">
                      <option value="" disabled selected>Selecciona una sección</option>
                      @for (section of sections; track section.id) {
                        <option [value]="section.id">{{ section.name }}</option>
                      }
                  </select>
                  @if(sectionValid){
                    <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Seleccione una sección!</p>
                  }
              </div>
              }
              <div>
                <button (click)="clickAdd()" type="submit" class="mt-6 w-full px py-2.5 text-base font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg text-center">Guardar estudiante</button>
              </div>
          </div>
      </form>
  </div>
</section>
