<!--TABLA-->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table
      class="w-full text-sm text-left rtl:text-right text-gray-500 "
    >
      <thead
        class="text-xs text-gray-700 uppercase bg-gray-50 "
      >
        <tr>
          <th scope="col" class="px-6 py-3">DNI</th>
          <th scope="col" class="px-6 py-3">Nombre</th>
          <th scope="col" class="px-6 py-3">Apellido</th>
          <th scope="col" class="px-6 py-3">Contraseña</th>
          <th scope="col" class="px-6 py-3">rol</th>
        </tr>
      </thead>
      <tbody>
        @for(user of userss;track user.id){
        <tr (click)="pasarUser(user,true)"
          class="odd:bg-white even:bg-gray-50 hover:bg-slate-100"
        >
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap "
          >
            {{user.id}}
          </th>

          <td class="px-6 py-4">{{user.name}}</td>
          <td class="px-6 py-4">{{user.surname}}</td>
          <td class="px-6 py-4">{{user.password}}</td>
          <td class="px-6 py-4">{{user.rol}}</td>
        </tr>
      }
      </tbody>
    </table>
  </div>
  <!--TABLA-->
