<div class="md:ml-64 h-auto pt-20">
  <div class="border-b">
  <ul class="flex flex-wrap justify-center -mb-px text-sm font-medium text-center" id="default-styled-tab" data-tabs-toggle="#default-styled-tab-content" data-tabs-active-classes="text-purple-600 bg-indigo-50 hover:text-purple-600 border-purple-600" data-tabs-inactive-classes="border-transparent text-gray-500 hover:text-gray-600 border-gray-100 hover:border-gray-300" role="tablist">
      <li class="me-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg hover:bg-gray-50 hover:text-gray-600 hover:border-gray-300 text-sm" id="profile-styled-tab" data-tabs-target="#styled-add" type="button" role="tab" aria-controls="profile" aria-selected="false">Tomar asistencia</button>
      </li>
      <li class="me-2" role="presentation">
          <button class="inline-block p-4 border-b-2 rounded-t-lg hover:bg-gray-50 hover:text-gray-600 hover:border-gray-300 text-sm" id="dashboard-styled-tab" data-tabs-target="#styled-list" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Lista de asistencia</button>
      </li>
  </ul>
  </div>
  <div id="default-styled-tab-content">
  <div class="hidden" id="styled-add" role="tabpanel" aria-labelledby="add-tab">
    @if ((timeHour >= 7 && timeMinute > 0) && (timeHour <= 14)) {
      <app-qr-scanner></app-qr-scanner>
    }@else{
      <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
        <div class="px-4 mx-auto max-w-md">
          <p class="text-center">Aun no es tiempo de tomar asistencia...</p>
          <img class="mt-8" [src]="'./../../../assets/img/no-time.webp'" alt="No es tiempo">
        </div>
      </div>
    }
  </div>
  <div class="hidden" id="styled-list" role="tabpanel" aria-labelledby="list-tab">
    <app-assistance-list></app-assistance-list>
  </div>
  </div>
</div>

