<div class="flex gap-8 justify-center">
  <div>
    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
    <input
      type="number" id="name" [min]="1" [max]="6"
      formControlName="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
      placeholder="Grado"
      >
      <!-- (input)="nameValid = !formGroup.controls.name.valid" -->

      <p id="standard_error_help" class="mt-2 text-xs text-red-600">¡Ingrese un nombre!</p>

  </div>
  <div class="flex justify-center items-center my-auto">
    <button type="button" class="text-white py-2 mt-1 w-full bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 focus:outline-none">Guardar</button>
  </div>

</div>
